*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F5F6F7;
}
.nav-bar{
    background-color: white;
    box-shadow: 0 0.5px 3px rgb(0 0 0 / 0.2);
}
/* Strart logo  */
.logo{
    font-size: 30px;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
.logo a:hover{
    text-decoration: none !important
}
.logo .first-child{
    color: #0B409C;
    display: inline;
}
.logo .last-child{
    color: #FDBE34;
    font-weight: 700;
    display: inline;
}

/* End Logo  */

.btn1{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: #0B409C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.btn1:hover{
    background-color: #FDBE34;
    color: white;
}

.btn2{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    border: 0.5px rgb(207, 207, 207) solid;
}

.btn2:hover{
    background-color: #FDBE34;
    color: white;
}

/* Start Form login */
.Form-login .logo{
    font-size: 25px;
    margin-left: 85px;
    text-decoration: none;
}

.Form-login .logo a{
    text-decoration: none;
}
.Form-login .logo :first-child{
    color: #0B409C;
}
.Form-login .logo :last-child{
    color: #FDBE34;
    font-weight: 700;
}

.Form-login .login{
    font-size: 24px;
}

.Form-login .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #0B409C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.Form-login .btn1:hover{
    background-color: #FDBE34;
    color: white;
}

/* End Form login */


/* Start rest password  */
.Form-reset-password .logo{
    font-size: 35px;
    margin-left: 85px;
}
.Form-reset-password .logo a{
    text-decoration: none;
}
.Form-reset-password .logo :first-child{
    color: #0B409C;
}
.Form-reset-password .logo :last-child{
    color: #FDBE34;
    font-weight: 700;
}
.Form-reset-password .title{
    font-size: 35px;
    color: #0B409C;
}
.Form-reset-password .paragraph{
    font-size: 15px;
    padding-top: 20px;
}
.Form-reset-password .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #0B409C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.Form-reset-password .btn1:hover{
    background-color: #FDBE34;
    color: white;
}
/* End rest password  */


/* Start Form register */
.Form-register .logo{
    font-size: 35px;
    margin-left: 85px;
    text-decoration: none;
}


.Form-register .logo a{
    text-decoration: none;
}
.Form-register .logo :first-child{
    color: #0B409C;
}
.Form-register .logo :last-child{
    color: #FDBE34;
    font-weight: 700;
}

.Form-register .Register{
    font-size: 24px;
}

.Form-register .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #0B409C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.Form-register .btn1:hover{
    background-color: #FDBE34;
    color: white;
}

/* End Form register */

/* Start Form Register as student */
.Register a{
    text-decoration: none;
}
.Register a:hover{
    text-decoration: none !important
}

/* End Form Register as student */


/* Home */
    /* header */
        .header{
            background-color: #fdbd3425;
            height: 540px;
        }
        .header .title{
            font-size: 60px
        }
    /* header */

    /* category */
        .Category a{
            color: black;
            text-decoration: none;
        }

    /* category */

    /* Available internships */
    .internshipDisp{
        background-color: #e2edff;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .internshipDisp .card-post{
        background-color: white;
        border-radius: 20px;
        border: 1px solid rgb(224, 224, 224);
    }
    .internshipDisp a{
        text-decoration: none;
    }
    /* Available internships */

/* Home */


/* profile */

    /* profile student */
    
        .ProfileStudent {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;   
        }

        .ProfileStudent .ProfileStudent-nav{
            
            width: 320px;
            border: 1px solid #d1d0d0;
            border-radius: 6px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }
        .ProfileStudent .ProfileStudent-content{
            border: 1px solid #bebebe;
            border-radius: 5px;
            margin-top: 20px;
            padding: 20px;
            background-color: white;
            align-self: center;
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;  
        }

        .ProfileStudent a{
            color: black;
        }
        .ProfileStudent a:hover{
            background-color: #d1d0d0;
        }
        .ProfileStudent a:active{
            color: #0B409C;
        }
        .ProfileStudent .profile-image{
            border-radius: 50%;
            width: 50px;
        }
        .ProfileStudent .changePhoto{
            border-radius: 50%;
            width: 150px;
        }
        
        .profile-img img{
            border-radius: 50%;
            width: 50px;
        }
        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -70px;
            width: 150px;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }
        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

            
        .ProfileStudent .selected{
            padding: 5px;
            background-color: #d9e6f0;
            width: auto;
            border-radius: 10px;

        }
        
        .ProfileStudent .fixed-size {
            height: 110px !important;
            width: 100%;
        }

        .ProfileStudent .card-education{
            width: 100%;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            padding: 5px;
            margin-bottom: 20px;
        }

        .ProfileStudent .card-education .title{
            font-size: 20px;
        }

        .ProfileStudent .card-experiences{
            width: 100%;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            padding: 5px;
            margin-bottom: 20px;
        }
        .ProfileStudent .card-experiences .title{
            font-size: 20px;
        }


    /* profile student */



/* profile */


@media (max-width: 768px) {
    .ProfileStudent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProfileStudent .ProfileStudent-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    border: 1px solid #d1d0d0;
    border-radius: 6px;
}
.ProfileStudent .ProfileStudent-content{
    border: 1px solid #bebebe;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.title-nav{
    display: none;
}

}

