* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a:hover{
  text-decoration: none;
}
body {
  background-color: #f5f6f7;
}
.nav-bar {
  background-color: white;
  box-shadow: 0 0.5px 3px rgb(0 0 0 / 0.2);
}

.footer {
  padding-top: 130px;
  position: relative;
  background: #2c3e50;

}

.footer::after {
  content: '';
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  position: absolute;
  top: 0;
  width: 100%;
  background: #f5f6f7;
  height: 100px;
}


/* footer */
footer .media li {
  float: left;
  color: #050505;
  font-size: 40px;
  margin-right: 5px;
  opacity: 0.7;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
footer .media li:hover {
  opacity: 1;
}
footer .media li a {
  color: #ffffff;
}
footer .Links {
  margin-top: 20px;
}
footer .Links li {
  margin-top: 10px;
}
footer .Links li a {
  color: #ffffff;
  text-decoration: none;
}
footer .Links li a:hover {
  text-decoration: none;
}
/* footer */

/* Strart logo  */
.logo {
  font-size: 30px;
  text-decoration: none;
}
.logo a {
  text-decoration: none;
}
.logo a:hover {
  text-decoration: none !important;
}
.logo .first-child {
  color: #0b409c;
  display: inline;
}
.logo .last-child {
  color: #fdbe34;
  font-weight: 700;
  display: inline;
}

/* End Logo  */

.btn1 {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  background-color: #0b409c;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
*/ .btn1:hover {
  background-color: #fdbe34;
  color: white;
}

.btn2 {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: 500;
  border: 0.5px rgb(207, 207, 207) solid;
}

.btn2:hover {
  background-color: #fdbe34;
  color: white;
}

/* Start Form login */
.Form-login .logo {
  font-size: 30px;
  margin-left: 85px;
  text-decoration: none;
}

.Form-login .logo a {
  text-decoration: none;
}
.Form-login .logo :first-child {
  color: #0b409c;
}
.Form-login .logo :last-child {
  color: #fdbe34;
  font-weight: 700;
}

.Form-login .login {
  font-size: 24px;
}

.Form-login .btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #0b409c;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.Form-login .btn1:hover {
  background-color: #fdbe34;
  color: white;
}

/* End Form login */

/* Start rest password  */
.Form-reset-password .logo {
  font-size: 35px;
  margin-left: 85px;
}
.Form-reset-password .logo a {
  text-decoration: none;
}
.Form-reset-password .logo :first-child {
  color: #0b409c;
}
.Form-reset-password .logo :last-child {
  color: #fdbe34;
  font-weight: 700;
}
.Form-reset-password .title {
  font-size: 35px;
  color: #0b409c;
}
.Form-reset-password .paragraph {
  font-size: 15px;
  padding-top: 20px;
}
.Form-reset-password .btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #0b409c;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.Form-reset-password .btn1:hover {
  background-color: #fdbe34;
  color: white;
}
/* End rest password  */

/********************** Start Form register ***********************/
.Register .Form-register {
  margin: 40px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 7px 7px rgb(0 0 0 / 0.2);
  padding: 0 10px;
}
.Register .Form-register .first-content {
  background-color: #0b409c;
  border-radius: 20px 0 0 20px;
  margin-right: 20px;
}
.Register .Form-register .first-content__text {
  color: white;
  padding-top: 120px;
  letter-spacing: 2px;
}
.Register .Form-register .logo {
  font-size: 30px;
  text-decoration: none;
}
.Register .Form-register .logo a {
  text-decoration: none;
}
.Register .Form-register .logo :first-child {
  color: #0b409c;
}
.Register .Form-register .logo :last-child {
  color: #fdbe34;
  font-weight: 700;
}
.Register .Form-register .item {
  padding: 20px 0 20px 5px;
  width: 100%;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0.5px 1px rgb(0 0 0 / 0.2);
}
.Register .Form-register .item:hover {
  border: 1px solid #0b409c;
  background-color: #0b409c36;
}
.Register .Form-register a:hover {
  text-decoration: none;
}
.Register .Form-register .icons {
  font-size: 45px;
  color: cornflowerblue;
  margin-right: 10px;
  margin-top: -6px;
  margin-left: 10px;
}
/********************** End Form register ***********************/

/********************* Start Form Register as student*************/
.Register .Form-register-student {
  margin: 40px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 7px 7px rgb(0 0 0 / 0.2);
  padding: 0 10px;
}
.Register .Form-register-student .first-content {
  background-color: #0b409c;
  border-radius: 20px 0 0 20px;
  margin-right: 20px;
}
.Register .Form-register-student .first-content__text {
  color: white;
  padding-top: 120px;
}
.Register .Form-register-student .logo {
  font-size: 30px;
  text-decoration: none;
}
.Register .Form-register-student .logo a {
  text-decoration: none;
}
.Register .Form-register-student .logo :first-child {
  color: #0b409c;
}
.Register .Form-register-student .logo :last-child {
  color: #fdbe34;
  font-weight: 700;
}
.Register .Form-register-student .btn1 {
  padding: 10px 0 10px 5px;
  width: 100%;
  background-color: #0b409c;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.Register .Form-register-student .btn1:hover {
  background-color: #fdbe34;
}
.Register .Form-register-student .media span {
  color: #616161;
}
.Register .Form-register-student a:hover {
  text-decoration: none;
}
/********************* End Form Register as student*************/

/********************* Start Form Register as company*************/
.Register .Form-register-company {
  margin: 40px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 7px 7px rgb(0 0 0 / 0.2);
  padding: 0 10px;
}
.Register .Form-register-company .first-content {
  background-color: #0b409c;
  border-radius: 20px 0 0 20px;
  margin-right: 20px;
}
.Register .Form-register-company .first-content__text {
  color: white;
  padding-top: 120px;
}
.Register .Form-register-company .logo {
  font-size: 30px;
  text-decoration: none;
}
.Register .Form-register-company .logo a {
  text-decoration: none;
}
.Register .Form-register-company .logo :first-child {
  color: #0b409c;
}
.Register .Form-register-company .logo :last-child {
  color: #fdbe34;
  font-weight: 700;
}
.Register .Form-register-company .btn1 {
  padding: 10px 0 10px 5px;
  width: 100%;
  background-color: #0b409c;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.Register .Form-register-company .btn1:hover {
  background-color: #fdbe34;
}
.Register .Form-register-student .media span {
  color: #616161;
}
.Register .Form-register-student a:hover {
  text-decoration: none;
}
/********************* End Form Register as company *************/

/********************* Home *************************************/
  /******************* header ***********************************/
  .header {
    color: white;
    padding-top: 100px;
    background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));;
    position: relative;
    border-bottom-left-radius: 50% 7%;
    border-bottom-right-radius: 50% 7%;
    height: 690px;
  }
  .header .header-body{
    color: rgb(212, 212, 212);
    font-size: 22px;
  }
  /******************* header ***********************************/

  /******************* category *********************************/
  .category  {
    padding-top:100px;
    background: #f5f6f7;
    height: 100%;
  }
  .category .category-container .category-content .card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .category .category-container .category-content .card:hover{
    position: relative;
    top: -3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 39px 0px;

  }
  .category .category-container .category-content .card .category-content__icon{
    color: white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: inline flex;
    justify-content: center;
    align-items: center;
  }
  .category .category-container .category-content .card .category-content__details{
    color: #616161;
  }
  /******************* category *********************************/

  /******************* category *********************************/
  .postings .postings-container .postings-content .card:hover{
    background-color: #ececec;
  }
  /******************* category *********************************/

  /******************* Start Scroll To Top***********************/
  #scroll-top{
    scroll-behavior: smooth;
    width: 50px;
    height: 40px;
    color: #DDD;
    background-color: #0b409c;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 9999;
    border-radius: 5px;
    display: none;
    scroll-behavior: smooth;
  }
  #scroll-top:hover{
    background-color: #27539e;
  }
  /******************* Start Scroll To Top***********************/

/********************* Home *************************************/

/********************* profile **********************************/
/********************* profile student **************************/

.profile .profile-student {
  border: 1px solid #d6d6d6;
  background-color: white;
  margin-bottom: 40px;
}

.profile .profile-student .first-content .subheader {
  padding-left: 10px;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1rem;
}
.profile .profile-student.first-content .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(0, 0, 0);
  background-color: #e7f3ff;
}

.profile .profile-student .second-content {
  border-left: 1px solid #d6d6d6;
  background-color: white;
  padding: 0 20px;
  min-height: 800px;
}

.profile .profile-student .second-content .myAccount .General .file {
  position: relative;
  overflow: hidden;
  margin-top: -70px;
  width: 150px;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile .profile-student .second-content .myAccount .General .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile .profile-student .second-content .myAccount .skills-Lang__selected {
  padding: 5px;
  background-color: #d9e6f0;
  width: auto;
  border-radius: 10px;
}

.profile .profile-student .second-content .myAccount .fixed-size__Description {
  height: 110px !important;
  width: 100%;
}



/********************* profile student **************************/

/********************* profile company **************************/
.profile .profile-company .second-content {
  border-left: 1px solid #d6d6d6;
  background-color: white;
  min-height: 800px;
  padding: 2px 10px;
}





.profileCompany .nav {
  justify-content: center;
  background-color: white;
  box-shadow: 0 0px 0px rgb(0 0 0 / 0.2);
}
.profileCompany .tab-content {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
}
.profileCompany .company .title {
  margin-bottom: 20px;
  font-size: 30px;
}

.profileCompany .company .media {
  font-size: 30px;
}
.profileCompany .company .media li {
  margin-right: 10px;
}
.profileCompany .company .Description {
  border: 1px solid #dbdbdb;
  border-radius: 7px;
}
.profileCompany .Offers .card-post {
  border: 1px solid #dbdbdb;
  padding-top: 7px;
  padding-left: 20px;
}
.profileCompany .Requests .card-requests {
  border: 1px solid #dbdbdb;
  padding: 7px;
}
.btn-Add {
  padding: 5px;
  border-radius: 5px;
  background-color: #fdbe34;
  color: white;
}
.btn-Add:hover {
  color: white;
  text-decoration: none;
}

.profileCompany .fixed-size {
  height: 200px !important;
  width: 100%;
}
.profileCompany .changePhoto {
  border-radius: 50%;
  width: 150px;
}
/********************* profile company *************************/

/********************* profile *************************/




/*----------------------------media for mobile----------------------------*/
@media (max-width: 768px) {

/*------------------------- profile student--------------------------- */
  .profile .profile-student .first-content .flex-column {
    flex-direction: row !important;
    justify-content: center;
    height: 50px;
  }
  .profile .profile-student .first-content .title .title-display{
    display: none;
  }
  .profile .profile-student .first-content .title .icons{
    font-size:24px;
  }
/*------------------------- profile student--------------------------- */

}
/*----------------------------media for mobile----------------------------*/
